.mac-book-air12-container {
  min-height: 100vh;
}
.mac-book-air12-mac-book-air12 {
  width: 100%;
  height: 832px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-air12-group9 {
  top: 605px;
  left: 450px;
  width: 380px;
  height: 121px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-air12-rectangle1 {
  top: 0px;
  left: 0px;
  width: 380px;
  height: 121px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.mac-book-air12-text {
  top: 28px;
  left: 82px;
  color: rgba(255, 255, 255, 1);
  width: 216px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air12-rectangle8 {
  top: 281px;
  left: 551px;
  width: 569px;
  height: 87px;
  position: absolute;
  border-color: rgba(15, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.mac-book-air12-text02 {
  top: 288px;
  left: 136px;
  color: rgba(0, 0, 0, 1);
  width: 263px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-air12-text04 {
  top: 144px;
  left: 70px;
  color: rgba(0, 0, 0, 1);
  width: 678px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-air12-rectangle9 {
  top: 400px;
  left: 551px;
  width: 569px;
  height: 87px;
  position: absolute;
  border-color: rgba(15, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.mac-book-air12-text06 {
  top: 407px;
  left: 106px;
  color: rgba(0, 0, 0, 1);
  width: 403px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-air12-text08 {
  top: 296px;
  left: 578px;
  color: rgba(0, 0, 0, 1);
  width: 461px;
  height: auto;
  position: absolute;
  font-size: 50px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-air12-component2 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 80px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.mac-book-air12-rectangle11 {
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.mac-book-air12-text10 {
  top: 21px;
  left: 71px;
  color: rgba(255, 255, 255, 1);
  width: 376px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-air12-group11 {
  top: 15px;
  left: 566px;
  width: 257px;
  height: 49px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-air12-rectangle11 {
  top: 0px;
  left: 0px;
  width: 257px;
  height: 49px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.mac-book-air12-text12 {
  top: 11px;
  left: 24.62275505065918px;
  color: rgba(255, 255, 255, 1);
  width: 214px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air12-group13 {
  top: 16px;
  left: 832px;
  width: 257px;
  height: 49px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-air12-rectangle12 {
  top: 0px;
  left: 0px;
  width: 257px;
  height: 49px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.mac-book-air12-text14 {
  top: 10px;
  left: 44px;
  color: rgba(255, 255, 255, 1);
  width: 182px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-air12-group12 {
  top: 15px;
  left: 1098px;
  width: 167px;
  height: 49px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-air12-rectangle13 {
  top: 0px;
  left: 0px;
  width: 167px;
  height: 49px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
}
.mac-book-air12-text16 {
  top: 11px;
  left: 22px;
  color: rgba(255, 255, 255, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 25px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
